* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

textarea {
  resize: none; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer;
  background-color: transparent; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

::-webkit-scrollbar {
  width: 0; }

@font-face {
  font-family: 'TT Lakes Regular';
  src: url(./fonts/TTLakes-Regular.ttf); }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.ttf); }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.ttf); }

body {
  background-color: #f8f8f8; }

.background--active {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: #ffffff;
  opacity: 0.92;
  transition: opacity 0.3s, z-index 0.3s; }

.page {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.page--active {
  position: fixed; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9fff5;
  padding: 24px 16px;
  background-color: #ffffff;
  z-index: 2; }

.header__wrapper {
  display: flex;
  align-items: center; }

.header__buttons {
  display: flex;
  align-items: center; }

.button {
  background: #ff3e79;
  border-radius: 50%;
  border: 0;
  height: 40px;
  width: 40px; }

.header__logo {
  margin-left: 16px; }

.header__seporator {
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  position: relative;
  margin: 0 20px; }

.heder__options {
  display: flex;
  align-items: center;
  gap: 16px; }

.button__burger {
  background-image: url(./static/burger.svg);
  background-position: center;
  background-repeat: no-repeat; }

.button__repair {
  background-image: url(./static/repair.svg);
  background-position: center;
  background-repeat: no-repeat; }

.button__checkstatus {
  background-image: url(./static/checkstatus.svg);
  background-position: center;
  background-repeat: no-repeat; }

.button__call {
  background-image: url(./static/call.svg);
  background-position: center;
  background-repeat: no-repeat; }

.button__chat {
  background-image: url(./static/chat.svg);
  background-position: center;
  background-repeat: no-repeat; }

.button__profile {
  background-image: url(./static/profile.svg);
  background-position: center;
  background-repeat: no-repeat; }

.content {
  display: flex;
  flex-direction: column; }

.content-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 16px 0; }

.content-page__title {
  font-family: 'TT Lakes Bold', sans-serif;
  position: relative;
  font-style: normal;
  color: #1b1c21;
  letter-spacing: -0.6px;
  line-height: 40px;
  font-size: 28px; }

.content-page__title:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  left: -16px;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.content-inner {
  padding: 24px 16px; }

.content-inner__items {
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap; }

.content-inner__items::-webkit-scrollbar {
  display: none; }

.content__item {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 8px 13px;
  border: 2px solid transparent;
  border-radius: 6px; }

.content__item:hover {
  border-color: #41f6d7;
  background-color: #ffffff; }

.content__block {
  font-family: 'TT Lakes Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px; }

.content__block-text {
  margin: 0 16px; }

.read-more {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
  color: #1b1c21;
  display: flex;
  margin-top: 16px; }

.text--unactive {
  display: none; }

.content__header {
  display: none; }

.header__action-buttons {
  display: none; }

.header__logo-seporator {
  display: none; }

.content-title {
  display: flex;
  flex-direction: column; }

.title {
  border-top: 1px solid #d9fff5;
  font-family: 'TT Lakes Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  background: linear-gradient(90deg, #f8f8f8 0, #ffffff);
  padding: 16px; }

.content-brands {
  padding: 16px 0 0 16px; }

.content-brands__swiper {
  position: relative;
  overflow: hidden;
  white-space: nowrap; }

.content-brands__wrapper {
  display: flex;
  position: relative; }

.swiper-slide {
  flex-shrink: 0; }

.brand-slide {
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  width: 240px;
  height: 72px; }

.swiper-pagination-bullet {
  display: flex;
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  border-radius: 50%; }

.swiper-pagination-bullet-active {
  background-color: #b5b6bc; }

.swiper-pagination {
  gap: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 100; }

.drop {
  display: flex;
  align-items: center;
  margin: 16px; }

.drop__down {
  position: relative;
  border: solid #ff3e79;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  cursor: pointer; }

.drop__down:before {
  content: '';
  position: absolute;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 100%;
  top: calc(50% + 2px);
  left: calc(50% + 2px);
  transform: translate(-50%, -50%); }

.repair-brands__conteiner {
  position: relative;
  overflow: hidden;
  white-space: nowrap; }

.repair-brands__wrapper {
  display: flex; }

.repair-brands {
  padding: 16px 16px 0; }

.slide-brand {
  font-family: 'TT Lakes Medium', sans-serif;
  background-color: #ffffff;
  border-radius: 6px;
  color: #1b1c21;
  font-size: 16px;
  height: 160px;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 16px;
  width: 240px;
  display: flex;
  margin-right: 16px;
  justify-content: space-between; }

.button-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: 16px; }

.button-border {
  position: relative;
  border: solid #ff3e79;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);
  cursor: pointer; }

.button-border:before {
  content: '';
  position: absolute;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 100%;
  top: calc(50% + 2px);
  left: calc(50% + 2px);
  transform: translate(-50%, -50%); }

.content-price__conteiner {
  position: relative;
  white-space: nowrap;
  padding: 16px 0 0 16px; }

.content-price__wrapper {
  display: flex;
  flex-direction: row; }

.content-price__slide {
  background-color: #ffffff;
  border-radius: 6px;
  height: 200px;
  width: 260px;
  margin-right: 16px;
  position: relative; }

.price-item {
  padding: 16px;
  position: relative;
  word-wrap: break-word; }

.price-item dl {
  margin-bottom: 16px; }

.price-item dt {
  color: #7e7e82;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  opacity: 0.72; }

.price-item dd {
  color: #1b1c21;
  font-size: 14px;
  font-family: 'TT Lakes Medium', sans-serif;
  line-height: 18px;
  letter-spacing: 0.2px; }

.price-button {
  align-items: center;
  background: #ff3e79;
  border: none;
  border-radius: 16px;
  bottom: 16px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: 'TT Lakes Bold', sans-serif;
  font-size: 12px;
  height: 32px;
  justify-content: space-between;
  letter-spacing: -0.15px;
  line-height: 24px;
  padding: 0 8px 0 12px;
  position: absolute;
  right: 16px;
  text-align: right;
  text-transform: uppercase;
  width: 120px; }

.arrow {
  width: 8px;
  height: 8px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
  position: relative;
  right: 11px; }

.content-offer {
  padding: 0 16px 40px; }

.content-offer__text {
  color: #1b1c21;
  font-size: 14px;
  font-family: 'TT Lakes Regular', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 421px; }

.content-offer__offer a {
  color: #1b1c21;
  font-size: 16px;
  font-family: 'TT Lakes Medium', sans-serif;
  line-height: 24px;
  letter-spacing: -0.2px; }

.arrow-offer {
  width: 8px;
  height: 8px;
  border-top: 3px solid #ff3e79;
  border-right: 3px solid #ff3e79;
  transform: rotate(45deg);
  display: inline-block; }

.footer-page {
  position: relative;
  border-top: 1px solid #d9fff5;
  padding-bottom: 19px; }

.footer-list li {
  color: #7e7e82;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.72;
  padding-top: 16px;
  text-align: center; }

.call-page {
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s;
  width: 320px;
  padding: 24px 16px;
  transform: translateX(200%);
  z-index: 30;
  box-shadow: 0 -5px 50px 0.001px #7e7e82;
  height: 100%; }

.call-page--active {
  transform: translateX(0); }

.call-title {
  color: #1b1c21;
  font-size: 24px;
  font-family: 'TT Lakes Bold', sans-serif;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-top: 40px;
  margin-bottom: 24px;
  position: relative; }

.call__name {
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-family: 'TT Lakes Medium', sans-serif;
  border-radius: 8px;
  height: 48px;
  padding: 12px 16px;
  width: 288px;
  margin-bottom: 16px;
  opacity: 0.72; }

.call__text {
  color: #7e7e82;
  font-size: 14px;
  font-family: 'TT Lakes Regular', sans-serif;
  line-height: 16px; }

.call__text a {
  color: #ff3e79; }

.call-title:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  left: -16px;
  bottom: -7%;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.feedback-page {
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.4s;
  width: 320px;
  padding: 24px 16px;
  transform: translateX(200%);
  z-index: 25;
  box-shadow: 0 -5px 50px 0.001px #7e7e82;
  height: 100%; }

.feedback-page--active {
  transform: translateX(0); }

.feedback-title {
  color: #1b1c21;
  font-size: 24px;
  font-family: 'TT Lakes Bold', sans-serif;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-top: 40px;
  margin-bottom: 24px;
  position: relative; }

.feedback-title:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  left: -16px;
  bottom: -7%;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.feedback__name {
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-family: 'TT Lakes Medium', sans-serif;
  border-radius: 8px;
  height: 48px;
  padding: 12px 16px;
  width: 288px;
  margin-bottom: 16px;
  opacity: 0.72; }

.feedback textarea {
  height: 118px; }

.feedback__text {
  color: #7e7e82;
  font-size: 14px;
  font-family: 'TT Lakes Regular', sans-serif;
  line-height: 16px; }

.feedback__text a {
  color: #ff3e79; }

.send-button {
  align-items: center;
  background: #ff3e79;
  border-radius: 16px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'TT Lakes Bold', sans-serif;
  font-size: 12px;
  line-height: 24px;
  height: 32px;
  width: 136px;
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.15px;
  padding: 0 12px;
  text-transform: uppercase;
  margin-top: 19px;
  margin-left: auto; }

.burger-menu {
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-200%);
  transition: transform 0.4s;
  width: 320px;
  height: 100vh;
  box-shadow: 0 -5px 50px 0.001px #7e7e82;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 24px 24px 32px;
  z-index: 10; }

.burger-menu--active {
  transform: translateX(0); }

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px; }

.header-menu__logo {
  display: flex;
  align-items: center;
  gap: 16px; }

.button__close {
  background-image: url(./static/close.svg);
  background-position: center;
  background-repeat: no-repeat; }

.button__search {
  background-image: url(./static/search.svg);
  background-position: center;
  background-repeat: no-repeat; }

.menu-inner {
  display: flex; }

.menu-inner__links {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  position: relative; }

.nav__link {
  margin-bottom: 32px; }

.nav__link a {
  color: #1b1c21; }

.nav__link a:hover {
  color: #7e7e82; }

.nav__link:before {
  content: '';
  position: absolute;
  top: 0;
  align-items: center;
  left: -24px;
  width: 4px;
  height: 32px;
  background-color: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #41f6d7; }

.burger-menu__action-buttons {
  display: flex;
  gap: 16px; }

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1; }

.footer__contacts {
  display: flex;
  flex-direction: column; }

.footer__contacts a {
  color: #1b1c21; }

.footer__contact-mail {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 16px 0 12px; }

.contact__tel {
  font-family: 'TT Lakes Bold', sans-serif;
  font-size: 24px;
  letter-spacing: 32px;
  letter-spacing: -0.6px; }

.footer__languages {
  margin-top: 8px; }

.nav__lang {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute; }

.lang-text {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.nav__lang:checked + label {
  color: #7e7e82; }

@media screen and (max-width: 768px) {
  .hide-more,
  .show-more {
    display: none; } }

@media screen and (min-width: 768px) {
  .page {
    margin: 0 auto;
    width: 100%;
    overflow: hidden; }
  .content-price__conteiner {
    padding: 70px 24px 24px;
    display: flex;
    flex-direction: column; }
  .content-price__slide {
    background-color: #ffffff;
    border-radius: 6px;
    height: auto;
    width: 720px;
    position: relative; }
  .price-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #eaeaea;
    margin: 0 16px; }
  .price-item dl {
    margin: 0; }
  .price {
    display: flex;
    margin-right: 140px;
    gap: 44px; }
  .price-dt {
    display: none; }
  .price-item dt {
    position: absolute;
    top: -30px; }
  .header__logo-seporator {
    display: flex; }
  .header {
    padding: 24px; }
  .header__logo {
    margin: 0; }
  .content__block-text {
    line-height: 20px;
    margin: 0; }
  .header__action-buttons {
    display: flex;
    gap: 16px; }
  .content__block {
    margin: 8px 24px 0;
    flex-direction: row; }
  .text__add {
    display: inline; }
  .title {
    padding: 16px 24px; }
  .picture {
    width: 50%;
    height: 50%;
    margin-left: 48px;
    border-radius: 2%; }
  .read__more {
    margin-top: 10px; }
  .content-inner {
    padding: 32px 24px; }
  .content-page {
    padding: 24px 24px 0; }
  .text__dop--unactive {
    display: none; }
  .content-page__title:before {
    margin-left: -8px; }
  .content-brands {
    padding: 24px 0 32px 24px; }
  .content-offer {
    padding: 0 24px 40px; }
  .swiper-wrapper {
    overflow-wrap: break-word;
    flex-wrap: wrap; }
  .brand-slide {
    width: 224px;
    margin-right: 24px;
    margin-bottom: 16px; }
  .swiper-pagination {
    display: none; }
  .show-more {
    display: flex;
    align-items: center;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 8px;
    cursor: pointer; }
  .hide-more {
    display: flex;
    align-items: center;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
    display: none; }
  .hidden {
    display: none; }
  .hidden--visible {
    display: flex; }
  .repair-brands {
    padding: 24px 0 32px 24px; }
  .slide-brand {
    width: 224px;
    margin-right: 24px;
    margin-bottom: 16px; }
  .footer-list {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    margin: 0 24px; } }

@media screen and (min-width: 1440px) {
  .burger-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    transform: translateX(0);
    box-shadow: none; }
  .footer-menu {
    justify-content: flex-start; }
  .close-button {
    display: none; }
  .page {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 1440px;
    margin: 0 auto; }
  .title {
    padding: 16px 24px; }
  .header {
    display: none; }
  .content-page {
    padding: 42px 31px 0 35px; }
  .content-page__title:before {
    margin-left: -20px; }
  .content__header {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: space-between; }
  .content__header-options {
    display: flex;
    align-items: center;
    color: #1b1c21;
    cursor: pointer;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    gap: 8px; }
  .text__dop {
    display: inline; }
  .content__block {
    margin: 0; }
  .content__block-text {
    display: inline;
    margin-left: 34px; }
  .picture {
    margin: 0 30px; }
  .content-inner {
    padding: 32px;
    overflow-wrap: break-word; }
  .content-inner__items {
    display: flex;
    justify-content: space-between; }
  .content-brands {
    padding-left: 32px; }
  .repair-brands {
    padding: 24px 0 32px 32px; }
  .content-price__conteiner {
    padding: 70px 32px 24px; }
  .content-price__slide {
    width: 1056px; }
  .content-offer {
    padding: 0 32px 40px; }
  .slide-brand {
    width: 240px;
    margin-right: 32px; }
  .swiper-wrapper {
    overflow-wrap: break-word;
    flex-wrap: wrap; }
  .brand-slide {
    width: 240px;
    margin-right: 32px; }
  .call-page {
    width: 440px;
    padding: 0 32px; }
  .call-title:before {
    left: -32px; }
  .call__name {
    width: 376px; }
  .call-btn {
    position: absolute;
    left: -72px;
    top: 32px; }
  .feedback-page {
    width: 440px;
    padding: 0 32px; }
  .feedback__name {
    width: 376px; }
  .feedback-title {
    left: -16px; }
  .feedback-btn {
    position: absolute;
    left: -72px;
    top: 32px; }
  .burger-menu {
    width: 306px;
    padding: 35px 24px 32px; }
  .price {
    margin-right: 240px;
    gap: 160px; } }


/*# sourceMappingURL=style.css.map*/