body {
  background-color: $back;
}
.background--active {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: $block;
  opacity: 0.92;
  transition: opacity 0.3s, z-index 0.3s;
}
.page {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.page--active {
  position: fixed;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border;
  padding: 24px 16px;
  background-color: $block;

  z-index: 2;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.button {
  background: $red;
  border-radius: 50%;
  border: 0;
  height: 40px;
  width: 40px;
}
.header__logo {
  margin-left: 16px;
}
.header__seporator {
  background-color: $sep;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  position: relative;
  margin: 0 20px;
}
.heder__options {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button__burger {
  background-image: url('../img/burger.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.button__repair {
  background-image: url('../img/repair.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.button__checkstatus {
  background-image: url('../img/checkstatus.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.button__call {
  background-image: url('../img/call.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.button__chat {
  background-image: url('../img/chat.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.button__profile {
  background-image: url('../img/profile.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  display: flex;
  flex-direction: column;
}
.content-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 16px 0;
}
.content-page__title {
  font-family: 'TT Lakes Bold', sans-serif;
  position: relative;
  font-style: normal;
  color: $color;
  letter-spacing: -0.6px;
  line-height: 40px;
  font-size: 28px;
}
.content-page__title:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  left: -16px;
  background-color: $bef;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.content-inner {
  padding: 24px 16px;
}
.content-inner__items {
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}
.content-inner__items::-webkit-scrollbar {
  display: none;
}
.content__item {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 8px 13px;
  border: 2px solid transparent;
  border-radius: 6px;
}
.content__item:hover {
  border-color: $bef;
  background-color: #ffffff;
}
.content__block {
  font-family: 'TT Lakes Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.content__block-text {
  margin: 0 16px;
}
.read-more {
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
  color: $color;
  display: flex;
  margin-top: 16px;
}
.text--unactive {
  display: none;
}
.content__header {
  display: none;
}
.header__action-buttons {
  display: none;
}
.header__logo-seporator {
  display: none;
}
.content-title {
  display: flex;
  flex-direction: column;
}
.title {
  border-top: 1px solid $border;
  font-family: 'TT Lakes Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  background: linear-gradient(90deg, $back 0, $block);
  padding: 16px;
}
.content-brands {
  padding: 16px 0 0 16px;
}
.content-brands__swiper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.content-brands__wrapper {
  display: flex;
  position: relative;
}
.swiper-slide {
  flex-shrink: 0;
}
.brand-slide {
  position: relative;
  cursor: pointer;
  background-color: $block;
  border: 1px solid $sep;
  border-radius: 6px;
  padding: 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  width: 240px;
  height: 72px;
}
.swiper-pagination-bullet {
  display: flex;
  background-color: $pag;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: $pagA;
}
.swiper-pagination {
  gap: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 100;
}
.drop {
  display: flex;
  align-items: center;
  margin: 16px;
}
.drop__down {
  position: relative;
  border: solid $red;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  cursor: pointer;
}
.drop__down:before {
  content: '';
  position: absolute;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid $red;
  border-radius: 100%;
  top: calc(50% + 2px);
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}

.repair-brands__conteiner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.repair-brands__wrapper {
  display: flex;
}
.repair-brands {
  padding: 16px 16px 0;
}

.slide-brand {
  font-family: 'TT Lakes Medium', sans-serif;
  background-color: $block;
  border-radius: 6px;
  color: $color;
  font-size: 16px;
  height: 160px;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 16px;
  width: 240px;
  display: flex;
  margin-right: 16px;
  justify-content: space-between;
}
.button-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: 16px;
}
.button-border {
  position: relative;
  border: solid $red;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);
  cursor: pointer;
}
.button-border:before {
  content: '';
  position: absolute;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid $red;
  border-radius: 100%;
  top: calc(50% + 2px);
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}

.content-price__conteiner {
  position: relative;
  white-space: nowrap;
  padding: 16px 0 0 16px;
}

.content-price__wrapper {
  display: flex;
  flex-direction: row;
}

.content-price__slide {
  background-color: $block;
  border-radius: 6px;
  height: 200px;
  width: 260px;
  margin-right: 16px;
  position: relative;
}
.price-item {
  padding: 16px;
  position: relative;
  word-wrap: break-word;
}
.price-item dl {
  margin-bottom: 16px;
}
.price-item dt {
  color: $grey;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  opacity: 0.72;
}
.price-item dd {
  color: $color;
  font-size: 14px;
  font-family: 'TT Lakes Medium', sans-serif;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.price-button {
  align-items: center;
  background: $red;
  border: none;
  border-radius: 16px;
  bottom: 16px;
  color: $block;
  cursor: pointer;
  display: flex;
  font-family: 'TT Lakes Bold', sans-serif;
  font-size: 12px;
  height: 32px;
  justify-content: space-between;
  letter-spacing: -0.15px;
  line-height: 24px;
  padding: 0 8px 0 12px;
  position: absolute;
  right: 16px;
  text-align: right;
  text-transform: uppercase;
  width: 120px;
}
.arrow {
  width: 8px;
  height: 8px;
  border-top: 3px solid $block;
  border-right: 3px solid $block;
  transform: rotate(45deg);
  position: relative;
  right: 11px;
}
.content-offer {
  padding: 0 16px 40px;
}
.content-offer__text {
  color: $color;
  font-size: 14px;
  font-family: 'TT Lakes Regular', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 421px;
}
.content-offer__offer a {
  color: $color;
  font-size: 16px;
  font-family: 'TT Lakes Medium', sans-serif;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.arrow-offer {
  width: 8px;
  height: 8px;
  border-top: 3px solid $red;
  border-right: 3px solid $red;
  transform: rotate(45deg);
  display: inline-block;
}

.footer-page {
  position: relative;
  border-top: 1px solid $border;
  padding-bottom: 19px;
}
.footer-list li {
  color: #7e7e82;
  font-family: 'TT Lakes Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.72;
  padding-top: 16px;
  text-align: center;
}
