$back: #f8f8f8;
$block: #ffffff;
$border: #d9fff5;
$red: #ff3e79;
$sep: #eaeaea;
$bef: #41f6d7;
$pag: #dddddd;
$pagA: #b5b6bc;
$color: #1b1c21;
$grey: #7e7e82;

@import './normalize.scss';
@import './font.scss';
@import './index.scss';
@import './callback.scss';
@import './feedback.scss';
@import './burgerMenu.scss';
@import './media768.scss';
@import './media1440.scss';
